.*
scratch/
!/.gitignore
*~
*.pyc
*.egg-info/
*.bak

# fortran/f2py compiler output
*.o
*.so
*.mod
*.exe
*.dSYM

# use jupytext to save a paired text file (markdown for now)
*.ipynb

# blanket ignore output yaml files--can add specific yaml files for tracking (e.g. environment.yaml)
*.yaml

# ignore data files--can add specific files for tracking
*.dat

# specific files or file types to ignore, related to this project
pretreat_defs_updated.inp
bkup*
equationsDoc.pdf
hostname_info.txt

# latex
*.bbl
*.blg
*.ilg
*.nlo
*.nls
auto/
*.log
*.lof
*.aux
*.fff
*.synctex.gz
*.spl
*.out
