.*
scratch/
!/.gitignore
!/.readthedocs.yaml
*~
*.pyc
*.egg-info/
*.bak

# fortran/f2py compiler output
*.o
*.so
*.mod
*.exe
*.dSYM

# use jupytext to save a paired text file (markdown for now)
*.ipynb

# blanket ignore output yaml files--can add specific yaml files for tracking (e.g. environment.yaml)
*.yaml

# ignore data files--can add specific files for tracking
*.dat
*.csv
*.pkl

# specific files or file types to ignore, related to this project
pretreat_defs_updated.inp
bkup*
equationsDoc.pdf
hostname_info.txt

# I'm suggesting a convention of `run_[name]` for direct executables; these
#  should be ignored, JJS 7/23/21
run_*

# latex
*.bbl
*.blg
*.ilg
*.nlo
*.nls
auto/
*.log
*.lof
*.aux
*.fff
*.synctex.gz
*.spl
*.out

# Exclude temporary documentation build files
docs/_build/
!docs/technical_reference/run_*
