[submodule "submodules/OpenFOAM-dev"]
	path = submodules/OpenFOAM-dev
	url = https://github.com/hsitaram/OpenFOAM-dev
[submodule "submodules/ThirdParty-dev"]
	path = submodules/ThirdParty-dev
	url = https://github.com/OpenFOAM/ThirdParty-dev
[submodule "submodules/Nek5000"]
	path = submodules/Nek5000
	url = https://github.com/Nek5000/Nek5000
